<div class="row d-flex justify-content-center align-items-center" style="height: 100vh;background-color: #c2c2c2;">
  <div class="form-container">
    <p class="title">Création mot de passe</p>
    <p class="text-danger text-center">{{err}}</p>
    <form class="form" [formGroup]="form" (ngSubmit)="resetPassword()">
      <div class="input-group">
        <label for="password">Nouveau mot de passe</label>
        <input type="password" name="password" id="password" placeholder="" formControlName="password">
      </div>
      <div class="input-group">
        <label for="confirmpassword">Confirmer mot de passe</label>
        <input type="password" name="confirmpassword" id="confirmpassword" (blur)="onChange($event)" placeholder="" formControlName="confirmpassword">
        <div class="forgot">
          <!-- <a rel="noopener noreferrer" href="#">Forgot Password ?</a> -->
        </div>
      </div>
      <button type="submit" class="sign">
        <div *ngIf="submitting">
          <span class="spinner-border spinner-border-sm mr-3" role="status"></span> Création en cours...
        </div>
        <span *ngIf="!submitting">Valider</span>
      </button>
    </form>
  </div>
</div>
