<div class="row">
  <alert></alert>
</div>
<form class="row g-3" [formGroup]="planningForm" (ngSubmit)="planningEdit && planningEdit.id ? editPlannig() : savePlannig()">
  <div class="col-md-6 col-sm-12">
    <label for="formation" class="form-label">Formations</label>
    <select id="formation" class="form-select" formControlName="formation" (change)="onChangeFormation($event)">
      <option [value]="0">Selectionnez...</option>
      <option *ngFor="let formation of formations" [value]="formation.id">
        {{formation.libelle}}
      </option>
    </select>
  </div>
  <div class="col-md-6 col-sm-12">
    <label for="dateDebut" class="form-label">Date début</label>
    <input type="date" class="form-control" id="dateDebut" formControlName="dateDebut">
  </div>
  <div class="col-md-6 col-sm-12">
    <label for="dateFin" class="form-label">Date fin</label>
    <input type="date" class="form-control" id="dateFin" formControlName="dateFin">
  </div>
  <div class="col-md-6 col-sm-12">
    <label for="cout" class="form-label">Cout de la formation</label>
    <input type="number" class="form-control" id="cout" formControlName="cout">
  </div>
  <div class="col-md-5 col-sm-12">
    <label for="module" class="form-label">Modules</label>
    <select id="module" class="form-select" formControlName="module">
      <option [value]="0">Selectionnez...</option>
      <option *ngFor="let module of modules" [value]="module.id">
        {{module.libelle}}
      </option>
    </select>
  </div>
  <div class="col-md-5 col-sm-12">
    <label for="prof" class="form-label">Professeur</label>
    <select id="prof" class="form-select" formControlName="professeur">
      <option [value]="0">Selectionnez...</option>
      <option *ngFor="let prof of professeurs" [value]="prof.id">
        {{prof.nom}} {{prof.prenom}}
      </option>
    </select>
  </div>
  <div class="col-md-2 col-sm-12 pt-2">
    <button type="button" class="btn btn-dark col-12 mt-4" (click)="addModuleProf()">Ajouter</button>
  </div>
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Module</th>
          <th>Professeur</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="!moduleProfList || moduleProfList.length <= 0">
        <tr>Veuillez selectionner un module et un professeur</tr>
        </tbody>
        <tbody *ngIf="moduleProfList && moduleProfList.length > 0">
        <tr *ngFor="let moduleProf of moduleProfList">
          <td>{{moduleProf.module?.libelle}}</td>
          <td>{{moduleProf.professeur?.nom}} {{moduleProf.professeur?.prenom}}</td>
          <td>
            <button (click)="deleteItemFromList(moduleProf)" type="button" class="btn btn-outline-danger"><em class="fa fa-trash-alt"></em></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <button type="submit" [disabled]="!planningForm.valid" class="btn btn-primary">Enregistrer</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-outline-dark" (click)="cancel()">Annuler</button>
  </div>
</form>
